<div class="page-container">
  <div class="about-title card shadow">
    <div class="about-header">
      <div class="image-circle">
        <img src="/assets/selfie.webp" alt="">
      </div>
      <div class="about-header-text">
        <h1>Martín Barreiro</h1>
        <span class="span-primary"><i class="fa-solid fa-circle"></i>Open To Work</span>
      </div>
    </div>

    <div class="about-information">
      <h2>
        Técnico de Desarrollo de Aplicaciones Web
      </h2>
      <h3>
        Soy una persona muy creativa con pasión por el diseño y muchas ganas de trabajar para poder aportar en tus
        proyectos e ideas.
      </h3>
    </div>

  </div>

  <div class="content about-content" style="margin-top: 4em;">

    <div class="card-secondary shadow">


      <swiper-container class="card-secondary-image flex-grow-50" delay="1000" autoplay="true" loop="true" slidesPerView="1">
        <swiper-slide class="carousel-image" *ngFor="let image of images">
          <img src="{{image}}" alt="">
        </swiper-slide>
      </swiper-container>

      <div class="card-secondary-body flex-grow-50">
        <div class="body-title">¿Quien soy?</div>
        <p>
          Hace veintitrés años, nací en Galicia. Desde mis primeros recuerdos, mi fascinación por
          los ordenadores marcó el rumbo de mi vida.
        </p>
        <p>
          Siempre fui una persona curiosa en el ámbito de la informática, lo
          que me llevó a cursar un ciclo superior de sistemas, donde descubrí la programación y mi
          <strong>pasión</strong> por ella.
        </p>
        <p>
          Más allá de la informática y la programación, heredé una gran afición por la música y el mar de mi padre.
        </p>
        <p>
          Sin embargo, lo que mejor me define es el kayak. Compito a nivel nacional desde los 16 años en este deporte, el cual ha forjado mi carácter en la <strong>disciplina</strong>, <strong>trabajo en
            equipo</strong> y ha hecho crecer mis
          habilidades sociales al interactuar con personas de diversos perfiles.
        </p>
        <p>
          Actualmente, mi objetivo es <strong>encontrar empleo</strong> para consolidar mis conocimientos y demostrar mi
          valía. Mientras tanto, ofrezco servicios de desarrollo web personalizado para particulares buscando crecer en
          el sector.
        </p>
      </div>
    </div>

    <div>
      <h2 class="section-title">Estudios</h2>
      <div class="about-studies">
        <div class="card card-content csdaw shadow" *ngFor="let degree of studies">
          <div class="card-body">
            <div class="card-body-title">
              {{degree.title}}
            </div>
            <div class="card-body-subtitle">
              {{degree.center}}
            </div>
            <div class="card-body-data">
              {{degree.data}}
            </div>

            <div class="card-body-text" [innerHTML]="degree.description"></div>
          </div>

          <div class="card-body-bottom">
            <div class="card-body-technologies">
              <span *ngFor="let technology of degree.technologies">{{technology}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
