<div class="page-container">
  <div class="home-title">
    <h1>
      Martín Barreiro
    </h1>
    <h2>
      Técnico de Desarrollo de Aplicaciones Web
    </h2>
    <h3>
      Conóceme aquí para poder trabajar juntos y dar vida a tus ideas a través de la programación.
    </h3>
  </div>
  <div class="home-arrow">
    <i class="fa-solid fa-chevron-down"></i>
  </div>

  <div class="home-content">



    <div class="card">
      <div class="card-image">
        <img src="../../assets/WhatsApp Image 2023-12-21 at 17.01.48.jpeg" alt="">
      </div>
      <div class="card-body">
        <h1>¿Quien Soy?</h1>
        <p>
          Hace veintitres años en Galicia ví la luz por primera vez y desde que tengo recuerdos tuve un gran interés en
          los ordenadores. Siempre fui una persona muy curiosa con la informática y esto me llevó a estudiar un ciclo
          superior de sistemas, donde conocí la programación y mi pasón por ella.
        </p>
        <p>Compito a nivel nacional desde los 16 años en Kayak esto me ha formado en la disciplina, el trabajo en equipo
          y desarrollado mis habilidades sociales con todo tipo de personas.</p>
        <p>
          Aunque mi carrera profesional es corta y no dispongo de mucha experiencia me mantengo en continua formación
          realizando pequeños proyectos, cursos y trabajos por cuenta propia. Actualmente estoy buscando oportunidades
          laborales donde poder aumentar mis conocimientos.
        </p>
      </div>
    </div>
  </div>

</div>
