<div class="page-container">
  <div class="about-title">
    <div class="about-header">
      <div class="image-circle">
        <img src="../../assets/selfie.jpeg" alt="">
      </div>
      <div>
        <h1>Martín Barreiro</h1>
        <span class="span-primary">Open To Work</span>
      </div>

    </div>
    <div class="about-information">
      <h2>
        Técnico de Desarrollo de Aplicaciones Web
      </h2>
      <h3>
        Soy una persona muy creativa con pasión por el diseño y muchas ganas de trabajar para poder aportar en tus
        proyectos e ideas.
      </h3>
    </div>

  </div>

  <!-- <div class="home-arrow">
    <i class="fa-solid fa-chevron-down"></i>
  </div> -->

  <div class="content about-content" style="margin-top: 4em;">

    <div class="card-secondary">

      <div class="card-secondary-image flex-grow-50">
        <img class="carousel-image" src="/assets/about2.jpg" alt="">
      </div>

      <div class="card-secondary-body flex-grow-50">

        <div class="body-title">¿Quien soy?</div>
        <p>
          Hace veintitrés años, en Galicia, vi la luz por primera vez. Desde mis primeros recuerdos, mi fascinación por los ordenadores marcó el rumbo de mi vida. Siempre fui una persona curiosa en el ámbito de la informática, lo que me llevó a cursar un ciclo superior de sistemas, donde descubrí la programación y mi pasión por ella.
        </p>
        <p>
          Más allá de la informática y la programación, heredé una gran afición por la música y el mar de mi padre.
        </p>
        <p>
          Sin embargo, lo que mejor me define es el kayak. Compito a nivel nacional desde los 16 años en esta disciplina, la cual ha forjado mi carácter en la disciplina, trabajo en equipo y ha hecho crecer mis habilidades sociales al interactuar con personas de diversos perfiles.
        </p>






      </div>
    </div>


  </div>

</div>





<!-- <div class="card card-about">
  <div class="card-image">
    <img src="../../assets/WhatsApp Image 2023-12-21 at 17.01.48.jpeg" alt="">
  </div>
  <div class="card-body">
    <h1>¿Quien Soy?</h1>
    <p>
      Hace veintitres años en Galicia ví la luz por primera vez y desde que tengo recuerdos tuve un gran interés en
      los ordenadores. Siempre fui una persona muy curiosa con la informática y esto me llevó a estudiar un ciclo
      superior de sistemas, donde conocí la programación y mi pasón por ella.
    </p>
    <p>Compito a nivel nacional desde los 16 años en Kayak esto me ha formado en la disciplina, el trabajo en equipo
      y desarrollado mis habilidades sociales con todo tipo de personas.</p>
    <p>
      Aunque mi carrera profesional es corta y no dispongo de mucha experiencia me mantengo en continua formación
      realizando pequeños proyectos, cursos y trabajos por cuenta propia. Actualmente estoy buscando oportunidades
      laborales donde poder aumentar mis conocimientos.
    </p>
  </div>
</div> -->
