.about-title{
  display: flex;
  flex-direction: column;
}

.about-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.about-header-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}



.about-information{
  margin-top: 1em;
}

.card-about{
  display: flex;
  flex-direction: row;
}

.home-content{
  display: flex;
}

.body-title{
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}

.about-studies{
  display: flex;
  flex-direction: column;
  gap: 1em;
}



h2{
  margin-bottom: 5px;
}
