<h2 class="section-title" id="contacto">Contáctame Aquí</h2>

<div class="card contact-card shadow">
  <div class="contact-buttons">
    <a href="https://www.linkedin.com/in/martinbarreirob/" target="_blank">
      <span class="span-button span-linkedin">Linkedin<i class="fab fa-linkedin"></i></span>
    </a>
    <span class="span-button span-hover" (click)="emailToClipboard()">martinbarreirob@gmail.com<i class="fa-solid fa-copy"></i></span>

  </div>

  <hr>

  <form class="contact-form" [formGroup]="form" (submit)="sendEmail()">
    <label for="nombre">Nombre:</label>
    <input type="text" formControlName="from_name" id="from_name" name="from_name" placeholder="Carlos Martinez" class="contact-input" require>

    <label for="email">Correo Electrónico:</label>
    <input type="email" formControlName="from_email" id="from_email" name="from_email" class="contact-input" placeholder="carlos@email.com" require>

    <label for="mensaje">Mensaje:</label>
    <textarea id="message" formControlName="message" name="message" rows="6" class="contact-textarea" maxlength="400"
      require></textarea>



    <input type="submit" class="primary-btn submit-btn btn-hover" value="{{submitButton}}">
  </form>
</div>

<!-- SnackBar CopyClipboard -->
<app-custom-snackbar [message]="snackbarMessage" [visible]="showSnackbar"></app-custom-snackbar>
