<div class="app-container">
  <div class="header">
    <div class="header-container">
      <div class="header-logo">
        <div class="circle"></div>
        <div class="header-title">&lt;MartinBarreiro/&gt;</div>
      </div>




      <nav class="header-nav">
        <a routerLink="/" class="underline-effect">Home</a>
        <a routerLink="/about" class="underline-effect">About</a>
        <a routerLink="/services" class="underline-effect">Services</a>
      </nav>
    </div>
  </div>
  <div class="content">
    <router-outlet class="router"></router-outlet>
  </div>
  <footer>
    <p>© 2024. All rights reserved.</p>
  </footer>
</div>
