.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ajusta según sea necesario */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em 1em 3em;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  /* box-shadow: 1px 1px 3px rgba(24, 22, 22, 0.3); */
  width: 100%;
  box-sizing: border-box;
}

.space-header {
  height: 150px;
}

.header-title {
  font-weight: 600;
}

.header-logo {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  margin-top: 80px;
  width: 100%;
  background-color: #383940;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  box-shadow: inset 0px 6px 15px rgba(34, 30, 30, 0.733);
  color: white;
}

/* Your existing styles */
nav a {
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  color: #383940;
  padding: 3px 18px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #e9e9e9a1;
}

nav a.active {
  background-color: #e9e9e9a1;
  font-weight: 600;

}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F78522;
}





/* Estilos base para centrar horizontalmente */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  /* Ancho predeterminado para pantallas pequeñas (móviles) */
  max-width: 1300px;
  /* Ancho máximo para evitar que el contenido se extienda demasiado en pantallas grandes */
}

.content {
  width: 97%;
  max-width: 900px;
}

@media (max-width: 768px) {
  .header-container {
    border-radius: 0px;
    padding: 1em 1em;
  }
}

/* Estilos específicos para diferentes tamaños de pantalla */
@media (min-width: 768px) {
  .header {
    width: 90%;
  }

  .content {
    width: 85%;
  }

  .header-nav {
    gap: 2em;
  }
}

@media (min-width: 992px) {
  .header {
    width: 85%;
  }

  .content {
    width: 80%;
  }
}
