<div class="app-container">
  <div class="header">
    <div class="header-container">
      <div class="header-logo">
        <div class="circle"></div>
        <div class="header-title">MartinBarreiro</div>
      </div>

      <nav class="header-nav">
        <a routerLink="/home" routerLinkActive="active" class="underline-effect">Inicio</a>
        <a routerLink="/about" routerLinkActive="active" class="underline-effect">Sobre Mí</a>
        <!-- <a routerLink="/services" class="underline-effect">Services</a> -->
      </nav>
    </div>
  </div>
  <div class="content">
    <router-outlet class="router"></router-outlet>
    <div class="contact">
      <app-contact></app-contact>
    </div>
  </div>
  <footer>
    <div class="footer-title">
      <div class="image-circle">
        <img src="/assets/selfie.webp" alt="">
      </div>
      <div class="about-header-text">
        <h1>Martín Barreiro</h1>
        <span class="span-primary"><i class="fa-solid fa-circle"></i>Open To Work</span>
      </div>
    </div>
    <div class="footer-rrss">
      <a href="https://www.linkedin.com/in/martinbarreirob/" target="_blank" class="icon-btn linkedin btn-hover">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/martinbarreirob" target="_blank" class="icon-btn github btn-hover">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </footer>
</div>
