<div class="app-container">
  <div class="header">
    <div class="header-container">
      <div class="header-logo">
        <div class="circle"></div>
        <div class="header-title">MartinBarreiro</div>
      </div>

      <nav class="header-nav">
        <a routerLink="/home" routerLinkActive="active" class="underline-effect">Inicio</a>
        <a routerLink="/about" routerLinkActive="active" class="underline-effect">Sobre Mí</a>
        <!-- <a routerLink="/services" class="underline-effect">Services</a> -->
      </nav>
    </div>
  </div>
  <div class="content">
    <router-outlet class="router"></router-outlet>
    <div class="contact">
      <app-contact></app-contact>
    </div>
  </div>
  <footer>
    <p>© 2024. All rights reserved.</p>
  </footer>
</div>
