@import '~@fortawesome/fontawesome-free/css/all.min.css';


body {
  margin: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  color: #383940;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #383940;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 30px;
}

h2 {
  font-weight: 500;
  font-style: italic;
}

h3 {
  font-weight: 400;
}

.content {
  width: 100%;
}

.card {
  background-color: #f4f4f4;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.007) 0px 1px 1px 0px,
    /* borde inferior */
    rgb(60 66 87 / 6%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 2%) 0px 2px 4px 0px;
  transition: box-shadow 0.6s;
  padding: 1.5em;
}

.card:hover {
  box-shadow:
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 12%) 0px 1px 1px 0px,
    rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 8%) 0px 3px 7px 0px,
    rgb(60 66 87 / 6%) 0px 2px 6px 0px;
}

.card-image {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.007) 0px 1px 1px 0px,
    /* borde inferior */
    rgb(60 66 87 / 16%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 12%) 0px 2px 7px 0px;
  transition: box-shadow 0.3s;
}

.card-image img {
  object-fit: cover;
}

.card-image:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 14%) 0px 3px 6px 0px, rgb(60 66 87 / 20%) 0px 2px 8px 0px;
}


/* Reparte el espacio entre elementos de un contenedor flex */
.flex-grow-50 {
  flex-grow: 1;
  flex-basis: 1;
}

.card-secondary {
  background-color: #f4f4f4;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  box-shadow:
    rgba(0, 0, 0, 0.007) 0px 1px 1px 0px,
    /* borde inferior */
    rgb(60 66 87 / 6%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 2%) 0px 2px 4px 0px;
  transition: box-shadow 0.6s;
  padding: 0.7em;
}

.card-secondary:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 7px 0px, rgb(60 66 87 / 6%) 0px 2px 6px 0px;
}

.card-secondary-image {
  border-radius: 20px;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.swipper-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}


.card-secondary-body {
  padding: 1em 1em 1em 1em !important;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.card-secondary-body p {
  font-weight: 300;
}


/* Elementos dentro del card */

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body-title {
  font-size: 1.4em;
  font-weight: 600;
}

.card-body-subtitle {
  font-size: 1em;
  font-weight: 400;
  margin-top: 5px;
}

.card-body-data {
  font-size: 0.8em;
  font-weight: 300;
}

.card-body-text p {
  font-weight: 300;
  margin-bottom: 1em;
  margin-top: 1em;
}

.card-body-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

.card-body-technologies {
  display: flex;
  gap: 10px;
  align-items: center;
  overflow: none;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  h1 {
    font-size: 34px;
  }

  .card {
    padding: 3em;
  }

  .flex-grow-50 {
    flex-grow: 1;
    flex-basis: 0;
  }

  .card-secondary {
    flex-direction: row;
  }



  .card-secondary-body {
    padding: 2em 1.5em 1em 2em !important;
  }

}

.page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.section-title {
  margin: 3em 1em 1em 1em !important;
}

hr {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 2em;
}



.primary-btn {
  background-color: #383940;
  color: white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 30px;
  border: 2px solid #383940;
  padding: 10px 30px 10px 30px;
  width: fit-content;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.btn-hover:hover {
  background-color: white;
  color: #383940;
  border: 2px solid #383940;
  cursor: pointer;
}

/* Iconos */

.icon-btn {
  background-color: white;
  color: #383940;
  font-weight: 600;
  font-size: 15px;
  border-radius: 30px;
  border: 2px solid white;
  padding: 8px;
  width: fit-content;
  transition: background-color 0.4s, color 0.4s, border 0.4s;
  display: inline-block;
  display: flex;
}

.linkedin {
  background-color: white;
  color: rgb(255, 255, 255);
  border: 2px solid #0A66C2;
  background-color: #0A66C2;
  cursor: pointer;
}

.github {
  background-color: white;
  color: rgb(255, 255, 255);
  border: 2px solid #6E5494;
  background-color: #6E5494;
  cursor: pointer;
}



.clipboard:hover {
  background-color: #FAFAFA;
  color: #FAFAFA;
  border: 2px solid #383940;
  background-color: #383940;
  cursor: pointer;
}

.icon-btn i,
.icon-btn i {
  font-size: 1.5em;
}

/* Span Buttons */
span {
  border: 0;
  outline: 0;
  cursor: default;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 10%) 0px 1px 1px 0px,
    rgb(60 66 87 / 4%) 0px 0px 0px 1px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(0 0 0 / 0%) 0px 0px 0px 0px,
    rgb(60 66 87 / 4%) 0px 2px 5px 0px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 8px;
  transition: box-shadow .24s, background-color 0.24s, color .24s;
  width: fit-content;

  display: flex;
  gap: 8px;
  align-items: center;
}

span:hover {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

.span-primary {
  background-color: #F78522;
  font-weight: 500;
  color: #FAFAFA;
}

.span-primary i {
  font-size: 0.8em;
  margin-top: 3px;
}

.span-clipboard {
  display: flex;
  gap: 8px;
  align-items: center;
}


.span-hover:hover {
  background-color: #383940;
  color: white;
  cursor: pointer;
}

.span-linkedin:hover{
  background-color: #0A66C2;
  color: #FAFAFA;
}


strong {
  font-weight: 500;
}

.contact {
  width: 100%;
  overflow: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
