<div class="page-container">
  <!-- Encabezado del home
   -->

  <div class="content home-content">
    <div class="card-image profileImage">
      <img src="../../assets/retrato.gif" alt="">
    </div>
    <div class="card profileInformation">
      <div>
        <h1>¡Hola! Soy Martín, <br> Desarrollador Web. <img src="../../assets/saludo.png" style="height: 1em;"></h1>
        <p>Mi pasión e inquietudes por la programación me llevaron a estudiar el CS de Desarrollo de Aplicaciones Web
          donde pude descubrir mis habilidades.</p>
        <p>¿Mi objetivo? Actualmente busco trabajo mientras tanto ofrezco desarrollo para particular para poder así
          crecer en el mundo de la programación con el diseño de webs personalizadas para profesionales y empresas.</p>
      </div>

      <div class="profile-buttons">
        <a class="primary-btn">Contáctame</a>
        <a href="#" class="icon-btn linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="icon-btn github">
          <i class="fab fa-github"></i>
        </a>

      </div>
    </div>
  </div>

  <div class="home-experience">
    <h2 class="section-title">Experiencia</h2>
    <div class="grid-experience">

      <div class="card pinvestiga exp-content">
        <div class="exp-content">
          <div class="exp-title">pInvestiga</div>
          <div class="exp-subtitle">Desarrollador Fullstack</div>
          <div class="exp-data">Octubre 2023 / Diciembre 2023</div>

          <p class="exp-text">Durante estas prácticas trabajé en el desarrollo de la nueva versión en Angular y NestJs
            del
            software de pInvestiga.
          </p>
          <p class="exp-text">
            Mi principal labor era la creación de componentes y servicios para la aplicación como
            la implementación de un <strong>chat en tiempo real</strong>, bibliotecas de datos, formularios para ingreso de datos...
          </p>
        </div>


        <div class="exp-bottom">
          <div class="exp-technologies">
            <span>NestJS</span>
            <span>Angular</span>
            <span>PHP</span>
            <span>SQL</span>
            <span>Github</span>
          </div>
        </div>
      </div>
    </div>

    <div class="home-experience">
      <h2 class="section-title">Proyectos Destacados</h2>
      <div class="card tresenraya exp-content">
        <div>
          <div class="exp-title">Tres En Raya Online</div>
          <div class="exp-subtitle">Proyecto CS DAW</div>
          <p class="exp-text">Este funciona con Angular junto a un backend en NestJS con una API Gateway y WebSockets
            para la comunicación en tiempo real. Desarrollado al 100% de manera autodidacta como formación.
          </p>

        </div>

        <div class="exp-bottom">
          <div class="exp-technologies">
            <span>NestJS</span>
            <span>Angular</span>
            <span>Socket.IO</span>
            <span>Apache</span>
          </div>
          <div class="exp-links">
            <a href="#" class="icon-btn github">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="home-contact">
    <app-contact></app-contact>
  </div>


</div>
