<div class="page-container">
  <!-- Encabezado del home
   -->

  <div class="content home-content">
    <div class="card-image profileImage">
      <img src="../../assets/retrato.gif" alt="">

    </div>
    <div class="card profileInformation">
      <div>
        <h1>¡Hola! Soy Martín, <br> Desarrollador Web. <img src="../../assets/saludo.png" style="height: 1em;"></h1>
        <p>
          Soy una persona muy creativa con pasión por el diseño y muchas ganas de trabajar para poder aportar en tus
        proyectos e ideas.
        </p>
        <p>
          Actualmente, mi objetivo es <strong>encontrar empleo</strong> para consolidar mis conocimientos y demostrar mi valía. Mientras tanto, ofrezco servicios de desarrollo web personalizado para particulares buscando crecer en el sector.
        </p>
      </div>

      <div class="profile-buttons">
        <a class="primary-btn">Contáctame</a>
        <a href="#" class="icon-btn linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="icon-btn github">
          <i class="fab fa-github"></i>
        </a>

      </div>
    </div>
  </div>

  <div class="home-experience">
    <h2 class="section-title">Experiencia</h2>
    <div class="grid-experience">

      <div class="card pinvestiga card-content">
        <div class="card-body">
          <div class="card-body-title">pInvestiga</div>
          <div class="card-body-subtitle">Desarrollador Fullstack</div>
          <div class="card-body-data">Octubre 2023 / Diciembre 2023</div>

          <div class="card-body-text">
            <p>
              Durante estas prácticas trabajé en el desarrollo de la nueva versión en Angular y
              NestJs del software de pInvestiga.
            </p>
            <p>
              Mi principal labor era la creación de componentes y servicios para la aplicación como
              la implementación de un <strong>chat en tiempo real</strong>, bibliotecas de datos, formularios para
              ingreso de datos...
            </p>
          </div>
        </div>


        <div class="card-body-bottom">
          <div class="card-body-technologies">
            <span>NestJS</span>
            <span>Angular</span>
            <span>PHP</span>
            <span>SQL</span>
            <span>Github</span>
          </div>
        </div>
      </div>
    </div>

    <div class="home-experience">
      <h2 class="section-title">Proyectos Destacados</h2>
      <div class="card tresenraya card-body-content">
        <div>
          <div class="card-body-title">Tres En Raya Online</div>
          <div class="card-body-subtitle">Proyecto CS DAW</div>
          <div class="card-body-text">
            <p>
              Este funciona con Angular junto a un backend en NestJS con una API Gateway y WebSockets
              para la comunicación en tiempo real. Desarrollado al 100% de manera autodidacta como formación.
            </p>
          </div>

        </div>

        <div class="card-body-bottom">
          <div class="card-body-technologies">
            <span>NestJS</span>
            <span>Angular</span>
            <span>Socket.IO</span>
            <span>Apache</span>
          </div>
          <div class="card-body-links">
            <a href="#" class="icon-btn github">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="contact">
    <app-contact></app-contact>
  </div>


</div>
