<div class="page-container">
  <!-- Encabezado del home
   -->

  <div class="content home-content">
    <div class="card-image shadow profileImage">
      <img src="/assets/retrato.webp" alt="">

    </div>
    <div class="card shadow profileInformation">
      <div>
        <h1>¡Hola! Soy Martín, <br> Desarrollador Web. <img src="/assets/saludo.webp" style="height: 1em;"></h1>
        <p>
          Soy una persona muy creativa con pasión por el diseño y muchas ganas de trabajar para poder aportar en tus
        proyectos e ideas.
        </p>
        <p>
          Actualmente, mi objetivo es <strong>encontrar empleo</strong> para consolidar mis conocimientos y demostrar mi valía. Mientras tanto, ofrezco servicios de desarrollo web personalizado para particulares buscando crecer en el sector.
        </p>
      </div>

      <div class="profile-buttons">
        <a class="primary-btn btn-hover" routerLink="." fragment="contacto">Contáctame</a>
        <a href="https://www.linkedin.com/in/martinbarreirob/" target="_blank" class="icon-btn linkedin btn-hover">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/martinbarreirob" target="_blank" class="icon-btn github btn-hover">
          <i class="fab fa-github"></i>
        </a>

      </div>
    </div>
  </div>

  <div class="home-experience">
    <h2 class="section-title">Experiencia</h2>
    <div class="grid-experience">

      <div class="card pinvestiga card-content shadow">
        <div class="card-body">
          <div class="card-body-title">Galaxia Empirica - pInvestiga</div>
          <div class="card-body-subtitle">Desarrollador Fullstack</div>
          <div class="card-body-data">Octubre 2023 / Diciembre 2023</div>

          <div class="card-body-text">
            <p>
              Durante mi periodo de prácticas en la empresa, colaboré activamente en el desarrollo de la nueva versión del
              software pInvestiga utilizando Angular y NestJS.
            </p>
            <p>
              Mi responsabilidad principal consistía en la creación de diversos componentes y servicios para la aplicación. Entre las tareas destacadas se incluyeron la implementación de un <strong>sistema de chat en tiempo real</strong>, el desarrollo de bibliotecas de datos y la creación de formularios para el ingreso de datos, entre otras contribuciones significativas.
            </p>
          </div>
        </div>


        <div class="card-body-bottom">
          <div class="card-body-technologies">
            <span>NestJS</span>
            <span>Angular</span>
            <span>PHP</span>
            <span>SQL</span>
            <span>Github</span>
          </div>
        </div>
      </div>
    </div>

    <div class="home-experience">
      <h2 class="section-title">Proyectos Destacados</h2>
      <div class="card tresenraya card-body-content shadow">
        <div>
          <div class="card-body-title">Tres En Raya Online</div>
          <div class="card-body-subtitle">Proyecto CS DAW</div>
          <div class="card-body-text">
            <p>
              A pesar de ser un juego simple que todo el mundo conoce, decidí llevarlo al siguiente nivel al añadir soporte para jugar en línea con otros usuarios. Esta implementación permite a los jugadores crear o unirse a partidas en tiempo real, además de facilitar la comunicación a través de un chat de texto integrado.
            </p>
            <p>
              La aplicación está desarrollada utilizando Angular en el lado del cliente y un backend en NestJS con una API Gateway y WebSockets para facilitar la comunicación en tiempo real. Este proyecto ha sido desarrollado de manera autodidacta al 100%, representando una valiosa experiencia formativa.
            </p>
          </div>

        </div>

        <div class="card-body-bottom">
          <div class="card-body-technologies">
            <span>NestJS</span>
            <span>Angular</span>
            <span>Socket.IO</span>
            <span>Apache</span>
          </div>
          <div class="card-body-links">
            <a href="https://github.com/martinbarreirob/tresOnline2" target="_blank" class="icon-btn github btn-hover">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
